*{
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 20px auto;
    padding: 2em;
    font-family: 'Architects Daughter', cursive;
    background-image: url(../img/patron.png);
    background-repeat: repeat;
}
header{
    background-color: #26528c;
    height: 20%;
    border: 3px solid black;
    text-align: center;
    font-size: 2em;
}

header h1 {
    color: white;
}

header h2 {
    color: aqua
}

header h3 {
    color: darkkhaki;
}

main {
    display: flex;
    background-color: rgb(241,233,231);
    height: 60%;
    border: 3px solid black;
    padding: 3em;
    margin: 1em;

}

.articulos {
    display: flex;
    width: 80%;
    flex-direction: column;

}

article {
    border: 2px solid #a67665;
    margin: 1em;
    align-items: center;
    background-color: #f2d399;

}

article h2 {
    padding-left: 20px;

}

blockquote {
    font-size: 2em;
    padding: 20px;
    background-color: darkgreen;
    color: white;
}

.firma {
    text-align: right;

}

table {
    border: 1px solid #a67665;
    border-collapse: collapse;
    padding: 2em;
    margin: 2em;
    width: 90%;
}

th {
    background-color: #8c113e;
    color: white;
    border: 1px solid #020202;
    font-size: 2em;
    text-align: center;
}

td {
    border: 1px solid #a67665;
    text-align: left;
    padding-left: 20px;
    font-weight: bold;


}

aside {
    display: flex;
    width: 20%;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap
}

nav {
    padding: 2em;
    margin: 1em;
    text-align: left;
    background-color: #8c2771;
    color: white;
}
img {
    padding: 1em;
    margin: 1em;
    width: 200px;
    height: 200px;
    border: 1px dotted black;
    border-radius: 1em;
}
footer {
    display: flex;
    height: 20%;
    background-color: #26528c;
    color: white;
    font-size: 2em;
    border: 1px solid black;
    flex-direction: row;
    justify-content: space-around;
}